*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;        /* min-height hatao */
    overflow: hidden;     /* scroll band */
    font-family: cursive;
}

body{
    background: url('abg.jpg')
    
}

hr{
    margin: 0.8rem 0;
}



/* Headings */
h1{
    font-size: clamp(2rem, 5vw, 3.8rem);
    padding-top: 2.2rem;
    text-align: center;
    color: #1f2933;
}

h3{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    padding-top: 1.2rem;
    text-align: center;
    color: #374151;
}

#topics{
    display: flex;
    justify-content: flex-start;
    margin-top: 11.2rem;   /* upar shift */
    padding-left: 8vw;
    font-size: clamp(3.8rem, 3vw, 2.1rem);
}



/* List */
#topics ul{
    list-style: none;
}

/* List items */
#topics li{
    margin-bottom: 1rem;         /* neeche spacing */
    cursor: pointer;
    transition: transform 0.2s ease;
    color: #161f29;
}

#topics li:hover{
    transform: scale(0.95);
    color: #2c3e50;
}

/* Mobile view */
@media (max-width: 600px){
    body{
        overflow-y: auto;   /* mobile pe allow */
    }

    #topics{
        margin-top: 1.5rem;
        padding-left: 8vw;
    }
}


.pdf-container{
    width: 85%;
    height: 65vh;
    margin: 0.5rem auto;
    margin-top: 3rem;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.pdf-container iframe{
    width: 100%;
    height: 100%;
}

/* SIDE BY SIDE FIX */
.content-wrapper{
    display: flex;
    height: calc(100vh - 180px);
    padding: 0 4vw;
    gap: 2rem;
}

/* LEFT LIST */
#topics{
    width: 75%;
}

/* RIGHT PDF */
.pdf-container{
    width: 45%;
    border: 2px solid #66f5e9;
    border-radius: 8px;
    overflow: hidden;
}

.pdf-container iframe{
    width: 100%;
    height: 100%;
    border: none;
}

#btn{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #0f172a;
    color:  #ffffff;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    z-index: 9999;
}

#btn:hover{
    background-color: #0f766e;
}

